@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: rgb(167, 167, 167);
}

.single-price-card {
    font-family: "Karla";
    height: 480px;
    line-height: 1.8;
    margin: auto;
    position: relative;
    width: 640px;
}
.spc-left {
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 8px;
    height: 180px;
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
}
.spc-left>button {
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-family: "Karla";
    padding: 16px;
}
.spc-right {
    background-color: hsl(179, 64%, 46%);
    border-bottom-right-radius: 8px;
    height: 180px;
    padding: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 240px;
}
.spc-top {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-height: 140px;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
}
.spc-top>h1 {
    color: hsl(179, 62%, 43%);
    margin-top: 0;
}
.spc-top>p {
    color: hsl(218, 22%, 67%);
}